<!DOCTYPE html>
<html lang="en">

<%- include('../partials/headeruser.ejs') %>
  <link rel="stylesheet" href="/task-style.css" />

  <body>
    <%- include('../partials/navUser.ejs') %>

      <div class="tasks content">
        <div class="task-header">
          <h2>All Tasks</h2>
          <a href="/tasks/add" class="btn btn-submit">+ Add New Task</a>
        </div>
        <div class="tasks">
          <% if (tasks.length> 0) { tasks.forEach(task => { %>
            <a class="showDetails" href="/tasks/<%=task._id%>">
              <h3 class="title">
                <%=task.title%>
              </h3>
              <% if (task.completed) { %>
                <p class="status com">Completed</p>
                <% } else { %>
                  <p class="status inc">Incomplete</p>
                  <% } %>
            </a>
            <% }); } else { %>
              <p class="no-tasks">There are no Tasks to display !!</p>
              <% } %>
        </div>
      </div>

      <%- include('../partials/footer.ejs') %>

  </body>

</html>